/* Media Queries */

/* Mobile */

@media only screen and (max-width: 560px) {
    .logo-img {
      width: 120px;
    }
    .header {
      background-size: cover;
      background-color: #17181C;
    }
    .ul-nav-items {
      display: none;
    }
    .nav-items {
      display: none;
    }
    .banner {
      flex-direction: column;
    }
    
    .logo .logo-txt {
      display: none;
    }
    .logo {
      padding-left: 20px;
    }
    
    .nav .btn-call {
      width: 120px;
      background-color: transparent;
      border: 2px solid #fff;
    }
    
    .text-banner,
    .card-banner {
      width: 100%;
    }
    .text-banner {
      padding-left: 0;
    }
    
    .card-banner {
      padding: 20px;
    }
    
    .card-bottom {
      margin-top: 0;
      right: 0;
    }
  }

  @media screen and (max-width: 650px) {
    .card-wrap {
      align-items: start;
      flex-direction: column;
    }
    .card-wrap-two {
      display: flex;
      flex-direction: column-reverse;
    }
  }

@media screen and (min-width: 651px) {
  .nav-items-wrap {
    display: flex;
  }

  .text-banner {
    align-items: start;
    padding-inline: 60px;
  }
  .text-banner .h1,
  .text-banner .h5 {
    text-align: start;
  }
  .text-banner .btn-call {
    margin-inline: 0;
  }
}

@media screen and (min-width: 800px) {

  .text-banner .h1 {
    max-width: 400px;
   font-size: calc(3.7rem * 1.618);
  }
  .text-banner .h5 {
    max-width: 250px;
    font-size: calc(1.2rem / 1.618 * 1.618 * 1.618);
}
.form-section {
  flex-direction: row;
}
}

@media screen and (min-width: 1200px) {

  .text-banner .h1 {
    max-width: 450px;
   font-size: calc(4.5rem * 1.618);
  }
  .text-banner .h5 {
    max-width: 380px;
    font-size: calc(1.3rem / 1.618 * 1.618 * 1.618);
}
}

